@model EGovernment.Web.ViewModels.AppViewModels.AddressViewModels.AddressListDisplayViewModel

<div>
    <h4>AddressListDisplayViewModel</h4>
    <hr />
    <div style="background-image: url('https://res.cloudinary.com/egov/image/upload/v1587405947/address_vp0x8x.jpg');">
        <table class="table table-bordered table-striped table-hover">
            <thead class="font-weight-bold text-white">
                <tr>
                    <th>Country Name</th>
                    <th>District Name</th>
                    <th>City Name</th>
                    <th>City Postal Code</th>
                    <th>Address Details</th>
                    <th>Address Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Model.AddressesList)
                {
                    <tr>
                        <td class="font-weight-bold  text-white">@address.CountryName</td>
                        <td class="font-weight-bold  text-white">@address.DistrictName</td>
                        <td class="font-weight-bold  text-white">@address.CityName</td>
                        <td class="font-weight-bold  text-white">@address.PostalCode</td>
                        <td class="font-weight-bold  text-white">@address.AddressDetails</td>
                        <td class="font-weight-bold  text-white">@address.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
